{% extends "base.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/login.css">
{% endblock %}

{% block scripts %}
    <script src="{{ base_path }}/assets/js/home.js"></script>
{% endblock %}

{% block content %}

    <button>Activate account</button>

{% endblock %}
