<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {%  endblock %}</title>
    <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">
</head>
<body>
{% block content %} hola, soy tu padre!!! {% endblock %}
</body>
</html>