{% extends "base.html.twig" %}

{% block title %}
    <title>PWBox - ERROR 403</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/error.css">
{% endblock %}

{% block scripts %}
    <script src="//use.fontawesome.com/84c9ca0cf8.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.js"></script>
    <script type="text/javascript">
        $("#fittext1").fitText(1.1);
        $("#fittext2").fitText(1.5);
    </script>
{% endblock %}


{% block content %}

    <div class="wrap">
        <article>
            <header>
                <h1 id="fittext1">403<i class="fa fa-exclamation-triangle fa-fw"></i></h1>
            </header>
            <p id="fittext2">Access Denied</p>
        </article>
    </div>
    {{ parent() }}

{% endblock %}