{% extends "base.twig" %}
{% block title %} Home {% endblock %}
{% block content %}
    {{ parent() }}   {#llamar al padre#}
    <form>
        Email:<br>
        <input type="text" name="email"><br>
        Password:<br>
        <input type="password" name="password">
    </form>
{% endblock %}

{% block scripts %}
    {{ parent() }}   {#llamar al padre#}
    {#<script type="application/javascript">
        alert('test');
    </script>#}
{% endblock %}
