{% extends "base.html.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/login.css">
{% endblock %}

{% block scripts %}
    <script src="{{ base_path }}/assets/js/login.js"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <br>
            <div class="img-responsive headimage">
                <img src="{{ base_path }}/assets/pwbox.png" alt="Logo">
            </div>

            <h2>Login</h2>
            <h4 >{{ mensaje }}</h4>

            <form class="box" action="/login" method="post" onsubmit="return preventDefault()">
                <input  id='user' type="text" placeholder="Username or email" name="email" onchange="checkError(this, 'text')" autofocus>
                <input  id='pass' type="password" placeholder="Password" name="password" oninput="checkError(this, 'pass')">

                <button  id="submitbutton" class="btn btn-primary full-width loginbtn" type="submit">
                    Get me in!
                </button>

                <a  class="btn btn-warning full-width signinbtn" href="register">
                        Create account
                </a>
            </form>
        </div>
    </div>

    <!-- Trigger the modal with a button -->
    <div class="modaldiv" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">What is PWBox?</h4>
                </div>
                <div class="modal-body">
                    <p>Pwbox is a custom file hosting service that offers a personal cloud storage with a simple and intuitive UI.</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
