{% extends "base.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/login.css">
{% endblock %}

{% block scripts %}
    <script src="{{ base_path }}/assets/js/home.js"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <br>
            <div class="img-responsive headimage">
                <img src="{{ base_path }}/assets/pwbox.png" alt="Logo">
            </div>

            <h2>Login</h2>
            <form class="box" action="/home" method="post">
                <input type="text" placeholder="Username or email" name="email">
                <input type="password" placeholder="Password" name="password">

                <button class="btn btn-primary full-width loginbtn" type="submit">
                    Get me in!
                </button>

                <a href="/register"><button class="btn btn-warning full-width signinbtn" type="button">
                    Create account
                    </button></a>
            </form>
        </div>
    </div>

{% endblock %}
