{% extends "base.twig" %}
{% block title %} Home {% endblock %}
{% block content %}
    {{ parent() }}   {#llamar al padre#}
    <h1>PWBOX register</h1>
    <form action="" method="post" enctype="multipart/form-data">
        Name: <br>
        <input type="text" name="name"><br>
        Description: <br>
        <input type="text" name="description"><br>
        Characteristics: <br>
        <input type="text" name="characteristics"><br>
        Username: <br>
        <input type="text" name="username"><br>
        Birthday: <br>
        <input type="date" name="birthday"><br>
        Email:<br>
        <input type="text" name="email"><br>
        Password:<br>
        <input type="password" name="password"><br>
        Confirm password:<br>
        <input type="password" name="repassword"><br>
        Load your image profile: <br>
        <input type="file" name="picture" id="picture"><br>
        <br>
        <button>Register</button>
    </form>

{% endblock %}

{% block scripts %}
    {{ parent() }}   {#llamar al padre#}
    {#<script type="application/javascript">
        alert('test');
    </script>#}
{% endblock %}
