{% extends "base.twig" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/assets/css/login.css">
{% endblock %}

{% block scripts %}
    <script src="{{ base_path }}/assets/js/home.js"></script>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h2>Register</h2>
            <form class="box" action="" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="Name" name="name" >
                <input type="text" placeholder="Description" name="description" >
                <input type="text" placeholder="Characteristics" name="characteristics" >
                <input type="text" placeholder="Username" name="username" >
                <input type="date" placeholder="Birthday" name="birthday" >
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="password">
                <input type="password" placeholder="Repeat password" name="repassword">

                <input type="file" name="picture" id="picture"><br>

                <button class="btn btn-primary full-width loginbtn" type="submit">
                    Sign me in!
                </button>

                <button class="btn btn-warning full-width signinbtn" type="button">
                    Go back
                </button>
            </form>
        </div>
    </div>

{% endblock %}

