/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 100vh}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

.headimage {
  max-width: 100%;
  padding: 1em;
}

.headimage > img {
  width: 60%;
}

.centerimage{
  display: block;
  margin-left: auto;
  margin-right: 0;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}

  .headimage > img {
    max-height: 120px;
    width: auto;
  }

  .centerimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.rspace, .selected_item, .new_folder{
  margin-left: 1rem;
  margin-right: 1rem;
}

.buttons-div{
  margin-left: 1.5rem;
}

.my-btn{
  width: 45%;
}

.new_folder{
  padding-top: 4rem;
}

.profile{
  float: right;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.dropdown-profile{
  max-width: 10rem;
  max-height: 10rem;
}

.mycol{
  overflow-y: scroll;
}

