.row.content {
  height: 100vh;
}

.sidenav {
  background-color: #f1f1f1;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.mainbody{
  margin-left: 25%;
  margin-bottom: 5rem;
}

.headimage {
  max-width: 100%;
  padding: 1em;
}

.headimage > img {
  width: 60%;
}

.centerimage{
  display: block;
  margin-left: auto;
  margin-right: 0;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}

  .headimage > img {
    max-height: 120px;
    width: auto;
  }

  .centerimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.rspace, .selected_item{
  margin-left: 1rem;
  margin-right: 1rem;
}

.buttons-div{
  margin-left: 1.5rem;
}

.my-btn{
  width: 45%;
  float: left;
  position: relative;

}

.new_folder{
  padding-top: 4rem;
}

.profile{
  position: fixed;
  right: 5rem;
  top: 5rem;

}

.dropdown-profile{
  max-width: 10rem;
  max-height: 10rem;
}

.my-img-circle{
  height: 6rem;
  width: 6rem;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > td,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
  border: none;
}

figure {
  float: left;
  margin: 1rem;
  width: 20rem; /* Limita el tamaño del contenedor */
  position: relative;
}

figure figcaption{
  overflow: hidden;
}

.floating-buttons{
  display: flex;
  float: left;
  width: 16rem;
  position: relative;
}

.floating-buttons button{
  margin-right: 2.5rem;
}

.cardimg{
  height: 12rem;
  width: 12rem;
}

figcaption{
  margin-top: 2rem;
  margin-right: 2rem;
}

.filedropup{
  position:relative;
}

.filedropupmenu{
  position:absolute;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  margin-top: 2rem;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

