body {
    background: url(../back.jpg);
	margin-bottom: 5rem;
}

footer{
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}

.radabox {
	text-align: center;
	width: 80rem;
	border-radius: 0.5rem;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 4rem auto;
	margin-top: 6rem;
	background-color: #fff;
	padding: 2rem;
	padding-bottom: 10rem;
}

input {
	width: 100%;
	margin-bottom: 1.4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	background-color: #ecf2f4;
	border-radius: 0.2rem;
	border: none;
}
h2 {
	margin-bottom: 3rem;
	font-weight: bold;
	font-family: sans-serif;

}

.btn{
	border-radius: 0.2rem;
}
.loginbtn{
	margin-top: 5rem;
	padding: 1rem;
}
.signinbtn{
	padding: 0.5rem;
}

.full-width {
	width: 95%;
}

.glyphicon{
	font-size: 4rem;
}

.profile-pic{
	margin-top: 1.7rem;
}

.modaldiv{
	float: right;
	margin-right: 2rem;
	margin-top: 2rem;
}

.my-modal-foot{
	margin-right: 1em;
}