<!DOCTYPE html>
<html lang="en">
<head>
  <title>PWBox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="home.css">
  <script src="home.js"></script>

</head>
<body>

<div class="container-fluid">
  <div class="col-sm-3 sidenav">
    <div class="row content">
      <div class="img-responsive headimage">
        <img src="pwbox.png" alt="Logo">
      </div>

      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Sr Rada 's Box</a></li>
        <li><a href="#section2">Shared with Me</a></li>
      </ul><br>

      <div class="upload-drop-zone" id="drop-zone">
            Just drag and drop files here
      </div>

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>

      <div class="buttons-div">
        <button class="btn btn-warning col-sm-5" id="js-upload-submit">New Folder</button>
        <button class="btn btn-warning col-sm-5" id="js-upload-nfolder">Upload files</button>
        <button class="btn btn-danger" id="js-upload-clear">X</button>
      </div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search here..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="col-sm-9 mycol">
    <h3>Home &gt RutaActual</h3>

    <div class="dropdown profile">
        SrRada
        <img src="pwbox.png" class="dropdown-toggle img-circle dropdown-profile" type="button" data-toggle="dropdown">
        <ul class="dropdown-menu">
          <li><a href="#">My account</a></li>
          <li><a href="#">Notifications</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
    </div>

    <h4><small>Folders</small></h4>
    <hr>
    <div>

    </div>
    <hr />
    <br>

    <h4><small>Files</small></h4>
    <hr>
    <div>

    </div>
    <hr />

  </div>



</div>



</body>
</html>
